@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", "Montserrat", sans-serif;
  text-decoration: none;
}
// #f6f8fd
body {
  background-color: #f6f8fd;
  // height: 1000vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", serif;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}
