<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Nusantara Trip Traveling for you" />

    <title>Nusantara Trip</title>
  </head>
  <body>
    <section id="navbar">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#">Nusantara Trip</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#/"
                  >Home</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#/destinations">Destination</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#/article">Article</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
            </ul>

            <!-- <div class="ms-lg-2">
              <a href="#" class="btn btn-primary btn-login">Login</a>
            </div> -->
          </div>
        </div>
      </nav>
    </section>
    <main id="main">
      <img src="/images/thumbnail.webp" alt="" />
    </main>

    <section class=" " id="footer">
      <div class="container-fluid">
        <footer class="">
          <div class="row footerd">
            <div class="col-12 col-lg-2 mb-4 mb-lg-0">
              <img src="./Public/Logo.svg" alt="" />

              <ul class="list-unstyled">
                <li class="text-white">
                  Collaboration platform <br />
                  for mordern team
                </li>
              </ul>
            </div>

            <div class="col-12 col-sm-4 col-lg-2 offset-lg-1">
              <h5 class="text-uppercase">Company</h5>

              <ul class="list-unstyled">
                <li><a href="#">Product</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>

            <div class="col-12 col-sm-4 col-lg-2">
              <h5 class="text-uppercase">Features</h5>

              <ul class="list-unstyled">
                <li><a href="#">Screen Sharing</a></li>
                <li><a href="#">iOS & Android Apps</a></li>
                <li><a href="#">File Sharing</a></li>
                <li><a href="#">User Managment</a></li>
              </ul>
            </div>

            <div class="col-12 col-sm-4 col-lg-2">
              <h5 class="text-uppercase">Contact Us</h5>

              <ul class="list-unstyled">
                <li><a href="#">info@teamapp.com</a></li>
                <li><a href="#">1-800-200-300</a></li>
                <li><a href="#">1010 Sunset Blv. Palo Alto, California</a></li>
              </ul>
            </div>

            <div class="col-12 col-lg-2 mt-5 mt-lg-0">
              <h5 class="text-uppercase">Stay up to date</h5>

              <ul class="list-unstyled">
                <li><a href="#">Subscribe to our newseller</a></li>

                <div class="d-flex align-items-center position-relative mt-3">
                  <div class="position-relative email">
                    <svg
                      class="position-absolute icon-arrow"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="25"
                      viewBox="0 0 24 25"
                      fill="none">
                      <path
                        d="M5.20874 13.5H16.3787L11.4987 18.38C11.1087 18.77 11.1087 19.41 11.4987 19.8C11.8887 20.19 12.5187 20.19 12.9087 19.8L19.4987 13.21C19.8887 12.82 19.8887 12.19 19.4987 11.8L12.9187 5.19996C12.7319 5.0127 12.4783 4.90747 12.2137 4.90747C11.9492 4.90747 11.6956 5.0127 11.5087 5.19996C11.1187 5.58996 11.1187 6.21996 11.5087 6.60996L16.3787 11.5H5.20874C4.65874 11.5 4.20874 11.95 4.20874 12.5C4.20874 13.05 4.65874 13.5 5.20874 13.5Z"
                        fill="#7676B2" />
                    </svg>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      placeholder="Email"
                      aria-describedby="emailHelp" />
                  </div>
                </div>
              </ul>
            </div>
          </div>

          <div
            class="d-flex flex-column flex-sm-row justify-content-between copyright">
            <p class="text-white">&copy; Copyright Team Inc.</p>
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
