// ini semua css di isi disini untuk contentnya
$primary: rgb(64 64 64);
// Halaman Detail

main {
  .section-details-header {
    display: block;
    background-color: #fff;
    height: 600px;
  }
  margin-top: 0.5rem;
  .thubmail {
    margin-top: -580px;
    border-radius: 0.5rem;

    figure {
      .thubmailDetail {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
      }
    }

    .nav-underline {
      li a {
        color: $primary;
        padding: 0.6rem;
      }
    }
  }

  .nusantara {
    margin-top: 30px;
    .nusantara-overview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 32px;
        font-weight: bold;
        color: rgb(64 64 64);
      }
      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .nusantara-location {
      margin-top: 20px;
      img {
        margin-top: -20px;
      }
    }

    .nusantara-ticket {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        margin-top: -20px;
      }
    }

    .nusantara-deskripsi-detail {
      margin-top: 20px;
      background-color: #fff;
      border-radius: 10px;
      padding: 2rem;
      text-align: justify;
      h2 {
        font-weight: bold;
        color: $primary;
        font-size: 32px;
      }

      .nusantara-event {
        h3 {
          font-weight: bold;
          color: $primary;
          font-size: 24px;
        }

        .event-list {
          li a {
            color: $primary;
            text-decoration: none;
            padding: 1rem;
            text-align: justify;
          }
        }
      }
    }

    .customerReview {
      .card {
        .card-body {
          .avatar {
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
      }
    }
  }

  .nusantara-add-review {
    margin-top: 80px;
    background-color: #fff;
    padding: 2rem;
    input {
      padding: 0.7rem;
    }

    textarea {
      resize: none;
      height: 150px;
    }
  }
}

#footer {
  margin-top: 165px;
  background: #232340;

  .footerd {
    padding-top: 100px;
    .email {
      input {
        width: 120%;

        border-radius: 4px;
        background: rgba(245, 245, 245, 0.24);
        border: 0;
        &::placeholder {
          color: #fff;
        }
      }
      .icon-arrow {
        top: 7px;
        right: -25px;
      }
    }
    h5 {
      color: #5468e7;
    }
    ul {
      li {
        margin-top: 12px;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .copyright {
    margin-top: 120px;
  }
}

// Halaman Detail

// Halaman Home
main {
  display: block;

  margin-top: 0.5rem;
  .carousel {
    .carousel-item {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
    .carousel-inner {
      .carousel-item {
        figure {
          .gd {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
    h5 {
      padding-right: 500px;
      margin-top: 50px;
    }
    p {
      padding-right: 500px;
      margin-bottom: 50px;
    }
  }

  .card-popular {
    .card {
      .container {
        align-items: center;
        justify-items: center;
        margin-top: 15px;
        margin-bottom: 2px;
      }
      .card-img-top {
        width: 100%;
        border-radius: 0.5rem;
      }
      .card-body {
        .container-upper-card {
          .container-txt {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card-title {
              font-size: 18px;
            }

            .container-img {
              .img {
                width: 44px;
                height: 44px;
              }
            }
          }
          .card-title-ex {
            font-size: 16px;
          }
        }
      }
    }
  }

  .card-other-destination {
    .card {
      .container {
        align-items: center;
        justify-items: center;
        margin-top: 15px;
        margin-bottom: 2px;
      }
      .img {
        width: 100%;
        border-radius: 25px;
      }
      .card-body {
        .container-upper-card {
          .container-img {
          }
        }
      }
    }
  }

  .container-b {
    display: flex;
    margin-top: 18px;
    justify-content: center;
    align-items: center;

    .button {
      justify-content: center;
      align-items: center;
      display: block;
      width: 44px;
      height: 44px;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      line-height: 25px;
    }
  }

  .thumbnail {
    margin-top: 0.5rem;
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 80px;
      align-items: center;
      justify-items: center;
      figure {
        .article {
          width: 100%;
          max-height: 300px;
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }
    }
  }

  .nusantara-location {
    margin-top: 20px;
    img {
      margin-top: -20px;
    }
  }

  .nusantara-ticket {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      margin-top: -20px;
    }
  }

  .article {
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1rem;
    }

    .card {
      border: none;
      overflow: hidden;
      border-radius: 0.75rem;

      .card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem;
        h5,
        p {
          /* Font minimum, preferred and maximum value */
          font-size: clamp(var(--min), var(--val), var(--max));
        }
        h5 {
          --min: 0.1rem;
          --val: 1rem;
          --max: 2rem;
          font-weight: bold;
        }

        p {
          --min: 0.1rem;
          --val: 0.5rem;
          --max: 1rem;
        }
      }
    }
  }
}
// Halaman Home
